.c-modal {
  position: relative;
  width: 100%;
	max-width: 778px;
	padding: 30px;
  margin-left: auto;
  margin-right: auto;
	border-radius: 6px;
  background-color: #fff;
	@include adaptive(767) {
		padding-left: 15px;
		padding-right: 15px;
	}

	&__title {
		padding-bottom: 40px;
		font-size: 30px;
		font-weight: 600;
		color: #01084c;
		text-align: center;
		@include adaptive(767) {
			font-size: 26px;
		}
	}

	&__subtitle {
		padding-bottom: 20px;
		color: #333333;
		font-size: 20px;
		text-align: center;
		@include adaptive(767) {
			font-size: 16px;
		}
	}

	a {
		outline: none;
		position: relative;
		cursor: pointer;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 240px;
		height: 76px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		border: none;
		border-radius: 5px;
		background-color: #51b0e6;
		box-shadow: 0 3px 0 0 rgba(#000, 0);
		@include transition(box-shadow, transform);
		@include adaptive(1439) {
			height: 66px;
		}
		@include adaptive(767) {
			max-width: 100%;
			height: 56px;
		}

		&:before,
		&:after {
			content: '';
			z-index: 0;
			position: absolute;
			top: 0;
			width: 0;
			height: 100%;
			background-color: darken(#51b0e6, 2%);
			@include transition(width);
		}

		&:before {
			left: 50%;
		}
		&:after {
			right: 50%;
		}

		&:hover {
			transform: translateY(-3px);
			box-shadow: 0 3px 0 0 rgba(#000, 0.15);
			@include transition(box-shadow, transform);

			&:before,
			&:after {
				width: 50%;
				@include transition(width);
			}
		}

		span {
			z-index: 2;
			position: relative;
			color: #ffffff;
			font-size: 26px;
			font-weight: 600;
			@include adaptive(1439) {
				font-size: 22px;
			}
		}
	}
}


//
// Zoom in...
// ==========
.mfp-zoom-in{
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(0.8);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1);
    }
    &.mfp-bg {
      opacity: 0.5;
    }
  }

  &.mfp-removing {
    .mfp-with-anim {
      transform: scale(0.8);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
  }
}


//
// Slide in {Change translate{X,Y} option for choose direction slide - top, left, bottom, right} - default slide in left.
// ==========
.mfp-slide-in{
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: translateX(100%);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: translateX(0);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }

  &.mfp-removing {
    .mfp-with-anim {
      transform: translateX(100%);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
  }
}
