/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100%;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  overflow: hidden !important;
}

/* line 12, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 18, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 32, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

/* line 37, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 43, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 50, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 53, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 60, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 70, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 76, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 82, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 88, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 94, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 99, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 107, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 112, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 118, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 123, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 130, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 134, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 4, src/scss/_shared/_common.scss */
.copyright__text {
  color: #706e6e;
  font-size: 14px;
}

/* line 3, src/scss/_macros/_logotype.scss */
.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 6, src/scss/_macros/_logotype.scss */
.logo__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 125px;
}

/* line 12, src/scss/_macros/_logotype.scss */
.logo__img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 3, src/scss/_macros/_title.scss */
.c-title {
  font-size: 50px;
  line-height: 1.6;
  font-weight: bold;
  text-align: center;
}

/* line 3, src/scss/_components/_header.scss */
.header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0);
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 13, src/scss/_components/_header.scss */
.header.header--fixed {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.975);
  -webkit-transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 19, src/scss/_components/_header.scss */
.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  padding-left: 50px;
  padding-right: 50px;
}

/* line 28, src/scss/_components/_header.scss */
.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 32, src/scss/_components/_header.scss */
.header__nav-link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-size: 18px;
}

/* line 39, src/scss/_components/_header.scss */
.header__nav-link:not(:last-of-type) {
  margin-right: 30px;
}

/* line 43, src/scss/_components/_header.scss */
.header__nav-link:before, .header__nav-link:after {
  content: '';
  position: absolute;
  top: 100%;
  width: 0;
  height: 1px;
  background-color: #000000;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

/* line 53, src/scss/_components/_header.scss */
.header__nav-link:before {
  left: 50%;
}

/* line 54, src/scss/_components/_header.scss */
.header__nav-link:after {
  right: 50%;
}

/* line 57, src/scss/_components/_header.scss */
.header__nav-link:hover:before, .header__nav-link:hover:after {
  width: 50%;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

/* line 3, src/scss/_components/_footer.scss */
.footer {
  padding-top: 300px;
  padding-bottom: 20px;
  background-color: #ffffff;
}

/* line 8, src/scss/_components/_footer.scss */
.footer__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 12, src/scss/_components/_footer.scss */
.footer__wrapper-1 {
  padding-bottom: 150px;
}

/* line 16, src/scss/_components/_footer.scss */
.footer__wrapper-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 22, src/scss/_components/_footer.scss */
.footer__wrapper-2 > div:nth-of-type(1) {
  padding-right: 30px;
}

/* line 25, src/scss/_components/_footer.scss */
.footer__wrapper-2 > div:nth-of-type(2) {
  padding-left: 30px;
}

/* line 32, src/scss/_components/_footer.scss */
.footer__slider {
  width: 100%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

/* line 39, src/scss/_components/_footer.scss */
.footer__title {
  width: 100%;
}

/* line 43, src/scss/_components/_footer.scss */
.footer__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 200px;
}

/* line 49, src/scss/_components/_footer.scss */
.footer__form input,
.footer__form button {
  outline: none;
  position: relative;
}

/* line 55, src/scss/_components/_footer.scss */
.footer__form input {
  width: 100%;
  max-width: 500px;
  height: 56px;
  padding: 0 20px;
  margin-right: 10px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #f9f5f9;
  font-size: 20px;
  font-weight: 500;
}

/* line 88, src/scss/_utilities/_mixin.scss */
.footer__form input.placeholder {
  font-size: 20px;
  font-weight: 500;
}

/* line 89, src/scss/_utilities/_mixin.scss */
.footer__form input:-moz-placeholder {
  font-size: 20px;
  font-weight: 500;
}

/* line 90, src/scss/_utilities/_mixin.scss */
.footer__form input::-moz-placeholder {
  font-size: 20px;
  font-weight: 500;
}

/* line 91, src/scss/_utilities/_mixin.scss */
.footer__form input:-ms-input-placeholder {
  font-size: 20px;
  font-weight: 500;
}

/* line 92, src/scss/_utilities/_mixin.scss */
.footer__form input::-webkit-input-placeholder {
  font-size: 20px;
  font-weight: 500;
}

/* line 74, src/scss/_components/_footer.scss */
.footer__form button {
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  max-width: 270px;
  height: 56px;
  margin-left: 10px;
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #f87307;
  -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 87, src/scss/_components/_footer.scss */
.footer__form button:before, .footer__form button:after {
  content: '';
  z-index: 0;
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #ee6e07;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

/* line 99, src/scss/_components/_footer.scss */
.footer__form button:before {
  left: 50%;
}

/* line 102, src/scss/_components/_footer.scss */
.footer__form button:after {
  right: 50%;
}

/* line 106, src/scss/_components/_footer.scss */
.footer__form button:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 111, src/scss/_components/_footer.scss */
.footer__form button:hover:before, .footer__form button:hover:after {
  width: 50%;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

/* line 118, src/scss/_components/_footer.scss */
.footer__form button span {
  z-index: 2;
  position: relative;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}

/* line 4, src/scss/_components/_main.scss */
.main__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 700px;
}

/* line 8, src/scss/_components/_main.scss */
.main__wrapper-left, .main__wrapper-right {
  min-height: 100%;
}

/* line 13, src/scss/_components/_main.scss */
.main__wrapper-left {
  width: 100%;
  max-width: 570px;
  background-image: -webkit-linear-gradient(130deg, #c8e8f0 0%, #88e2f9 100%);
  background-image: -o-linear-gradient(130deg, #c8e8f0 0%, #88e2f9 100%);
  background-image: linear-gradient(-40deg, #c8e8f0 0%, #88e2f9 100%);
}

/* line 19, src/scss/_components/_main.scss */
.main__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 26, src/scss/_components/_main.scss */
.main__wrapper-right > div {
  width: 100%;
  padding-left: 100px;
}

/* line 33, src/scss/_components/_main.scss */
.main__title {
  padding-bottom: 15px;
  text-align: left;
}

/* line 38, src/scss/_components/_main.scss */
.main__desc {
  padding-bottom: 75px;
  font-size: 22px;
  color: #000000;
}

/* line 44, src/scss/_components/_main.scss */
.main__info {
  color: #000000;
  font-size: 14px;
}

/* line 49, src/scss/_components/_main.scss */
.main .footer__form {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 0;
  padding-bottom: 30px;
}

/* line 3, src/scss/_components/_payments.scss */
.payments {
  padding-top: 100px;
  padding-bottom: 50px;
}

/* line 7, src/scss/_components/_payments.scss */
.payments__wrapper {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 12, src/scss/_components/_payments.scss */
.payments__wrapper-1 {
  padding-bottom: 75px;
}

/* line 16, src/scss/_components/_payments.scss */
.payments__wrapper-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 600px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e6f4f7), color-stop(22%, #d0f0f8), color-stop(51%, #baecf9), to(#e6f4f7));
  background-image: -webkit-linear-gradient(bottom, #e6f4f7 0%, #d0f0f8 22%, #baecf9 51%, #e6f4f7 100%);
  background-image: -o-linear-gradient(bottom, #e6f4f7 0%, #d0f0f8 22%, #baecf9 51%, #e6f4f7 100%);
  background-image: linear-gradient(0deg, #e6f4f7 0%, #d0f0f8 22%, #baecf9 51%, #e6f4f7 100%);
}

/* line 25, src/scss/_components/_payments.scss */
.payments__title {
  z-index: 2;
  position: relative;
  width: 100%;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}

/* line 34, src/scss/_components/_payments.scss */
.payments__logo {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 42, src/scss/_components/_payments.scss */
.payments__logo-img {
  display: none;
  position: absolute;
  max-width: 125px;
  height: auto;
}

/* line 48, src/scss/_components/_payments.scss */
.payments__logo-img-1 {
  top: 25px;
  left: 200px;
}

/* line 52, src/scss/_components/_payments.scss */
.payments__logo-img-2 {
  top: 100px;
  left: 40%;
}

/* line 56, src/scss/_components/_payments.scss */
.payments__logo-img-3 {
  top: -15px;
  right: 200px;
}

/* line 60, src/scss/_components/_payments.scss */
.payments__logo-img-4 {
  top: 150px;
  right: 27%;
}

/* line 64, src/scss/_components/_payments.scss */
.payments__logo-img-5 {
  top: 175px;
  right: 50px;
  max-width: 110px;
}

/* line 69, src/scss/_components/_payments.scss */
.payments__logo-img-6 {
  right: 125px;
  bottom: 50px;
}

/* line 73, src/scss/_components/_payments.scss */
.payments__logo-img-7 {
  right: 32%;
  bottom: 100px;
  max-width: 110px;
}

/* line 78, src/scss/_components/_payments.scss */
.payments__logo-img-8 {
  left: 32%;
  bottom: 125px;
  max-width: 110px;
}

/* line 83, src/scss/_components/_payments.scss */
.payments__logo-img-9 {
  left: 15%;
  bottom: -15px;
  max-width: 75px;
}

/* line 88, src/scss/_components/_payments.scss */
.payments__logo-img-10 {
  left: 125px;
  bottom: 175px;
}

/* line 92, src/scss/_components/_payments.scss */
.payments__logo-img-11 {
  left: 75px;
  bottom: 60%;
  max-width: 90px;
}

/*# sourceMappingURL=maps/app.css.map */
