// SECTION :: START

section#details.details

	p.details__title.c-title How It Works

	.details__wrapper
		.details__wrapper-left

			.details__animation
				img.details__animation-bg(data-aos="bounceInLeft" src="img/img-details-bg.png" srcset='img/img-details-bg@2x.png 2x' alt="")
				//.details__animation-bg(data-aos="bounceInLeft")
				.details__popup-wrapper
					.details__popup.details__popup-1
						.details__popup-head
							div
								.logo.logo--popup
									a.logo__btn(href="#")
										img.logo__img(src="img/logo.png" srcset='img/logo@2x.png 2x' alt="")
							div
								a.details__popup-close(href="#")
									svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 512.001 512.001', style='enable-background:new 0 0 512.001 512.001;', xml:space='preserve')
										path(d='M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717      L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859      c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287      l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285      L284.286,256.002z')
						.details__popup-body
							div
								p.details__popup-desc.details__popup-desc-1 Reaching out to your cards issuers
								p.details__popup-desc.details__popup-desc-2 Finaliizing Reawrds
								.details__popup-progress

					.details__popup.details__popup-2
						.details__popup-head
							div
								.logo.logo--popup
									a.logo__btn(href="#")
										img.logo__img(src="img/logo.png" srcset='img/logo@2x.png 2x' alt="")
							div
								a.details__popup-close(href="#")
									svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 512.001 512.001', style='enable-background:new 0 0 512.001 512.001;', xml:space='preserve')
										path(d='M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717      L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859      c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287      l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285      L284.286,256.002z')
						.details__popup-body
							div
								p.details__popup-title You save up to $4.20 with Cherry
								ul
									li
										div
											img(src="img/img-card-1.jpg" alt="")
										div
											p.red 130.00
											span Cherry Rewards
										div
											a(href="#")
												span Use this card
									li
										div
											img(src="img/img-card-2.jpeg" alt="")
										div
											p.green 360.00
											span Cherry Rewards
										div
											a(href="#")
												span Use this card
									li
										div
											img(src="img/img-card-3.jpg" alt="")
										div
											p.orange 420.00
											span Cherry Rewards
										div
											a(href="#")
												span Use this card
								p.details__popup-info Powered by KapitalWise

		.details__wrapper-right

			ul.details__list
				li.details__list-item
					p.details__list-title 1. Sign-up for Cherry
					p.details__list-desc!= "Sign-up, link your credit cards, debit cards. <br>It takes less than 3 minutes."
				li.details__list-item
					p.details__list-title 2. Shop Online
					p.details__list-desc Shope as usual any site, any brand, anytime.
				li.details__list-item
					p.details__list-title 3. Earn Premium Rewards
					p.details__list-desc!= "Our Realtime Rewards will negotiate with your card issuers, <br>banks and card networks to find the best rewards for you."

// SECTION :: END
