// SECTION :: START

section#details.details

	.details__wrapper
		.details__wrapper-left

		.details__wrapper-right

			ul.details__list
				li.details__list-item
					p.details__list-title 1. Sign-up for Cherry
					p.details__list-desc!= "Sign-up, link your credit cards, debit cards. <br>It takes less than 3 minutes."
				li.details__list-item
					p.details__list-title 2. Shop Online
					p.details__list-desc Shope as usual any site, any brand, anytime.
				li.details__list-item
					p.details__list-title 3. Earn Premium Rewards
					p.details__list-desc!= "Our Realtime Rewards will negotiate with your card issuers, <br>banks and card networks to find the best rewards for you."

// SECTION :: END
