// FOOTER :: START

footer#footer.footer
	.c-grid
		.footer__wrapper.footer__wrapper-1

			.footer__slider
				mixin swiperContent()
					.swiper-slide
						p.footer__title.c-title “Recognize the Increasing Shift to Digital Commerce”
					.swiper-slide
						p.footer__title.c-title “Recognize the Increasing Shift to Digital Commerce”
					.swiper-slide
						p.footer__title.c-title “Recognize the Increasing Shift to Digital Commerce”

				+swiper('footerSwiper', 'swiperContent', false, false, false)

			form.footer__form(action='' method='' autocomplete='off')
				input(type='text' name='' placeholder='' required)
				button(type='submit')
					span Partner with Us

		.footer__wrapper.footer__wrapper-2
			div
				.copyright
					p.copyright__text © Copyright 2020 Cherry Pay Inc.
			div
				.copyright
					p.copyright__text 43 W23rd Street, New York, NY, 10010

// FOOTER :: END
