// SECTION :: START

section#main.main

	.main__wrapper
		.main__wrapper-left

			div
				img(src="img/card-image-final-top.png" alt="" floating-node-js)
				img(src="img/card-image-final-bottom.png" alt="")

		.main__wrapper-right

			div

				h1.main__title.c-title Earn premium rewards on every checkout.
				p.main__desc!= "Have more than one card in your wallet? We will negotiate and find the best rewards when you checkout."

				form#mainForm.footer__form(action='' method='' autocomplete='off')
					input(type='email' name='' placeholder='Email' required)
					button(type='submit' data-mfp-src='#congratModal' data-effect='mfp-zoom-in' popup-thx-js)
						span Get Early Access

				p.main__info Join the waiting list to get early access.
				p.main__info We partner with card issuers, banks, and all major card networks.

// SECTION :: END
