// SECTION :: START

section#main.main

	.main__wrapper
		.main__wrapper-left

			img(src="img/card-image-final-top.png" alt="" floating-node-js)
			img(src="img/card-image-final-bottom.png" alt="" floating-node-js)

		.main__wrapper-right

			div

				h1.main__title.c-title Have more than one card in your wallet?
				p.main__desc!= "Earn Premium Rewards on Every Checkout - We will negotiate and find the best rewards when you checkout"

				form.footer__form(action='' method='' autocomplete='off')
					input(type='text' name='' placeholder='' required)
					button(type='submit')
						span Get Early Access

				p.main__info Join the waiting list to get early acces.
				p.main__info We partner with card issuers, banks, and all major card networks

// SECTION :: END
