// SECTION :: START

section#payments.payments

	.payments__wrapper.payments__wrapper-1

		p.payments__title.payments__title-1.c-title Bank, Issuer or Card network?

	.payments__wrapper.payments__wrapper-2

		p.payments__title.payments__title-2.c-title!= "Online shoppers have <br>more payment options than ever"

		.payments__logo
			img.payments__logo-img.payments__logo-img-1(src="img/img-payments-1.png" srcset="img/img-payments-1@2x.png 2x" alt="")
			//img.payments__logo-img.payments__logo-img-2(src="img/img-payments-2.png" srcset="img/img-payments-2@2x.png 2x" alt="")
			img.payments__logo-img.payments__logo-img-3(src="img/img-payments-3.png" srcset="img/img-payments-3@2x.png 2x" alt="")
			img.payments__logo-img.payments__logo-img-4(src="img/img-payments-4.png" srcset="img/img-payments-4@2x.png 2x" alt="")
			img.payments__logo-img.payments__logo-img-5(src="img/img-payments-5.png" srcset="img/img-payments-5@2x.png 2x" alt="")
			img.payments__logo-img.payments__logo-img-6(src="img/img-payments-6.png" srcset="img/img-payments-6@2x.png 2x" alt="")
			//img.payments__logo-img.payments__logo-img-7(src="img/img-payments-7.png" srcset="img/img-payments-7@2x.png 2x" alt="")
			img.payments__logo-img.payments__logo-img-8(src="img/img-payments-8.png" srcset="img/img-payments-8@2x.png 2x" alt="")
			img.payments__logo-img.payments__logo-img-9(src="img/img-payments-9.png" srcset="img/img-payments-9@2x.png 2x" alt="")
			//img.payments__logo-img.payments__logo-img-10(src="img/img-payments-10.png" srcset="img/img-payments-10@2x.png 2x" alt="")
			img.payments__logo-img.payments__logo-img-11(src="img/img-payments-11.png" srcset="img/img-payments-11@2x.png 2x" alt="")

// SECTION :: END
