---
title: Cherry

pageClassName: p-home
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/_main
		include components/_details
		include components/_payments

		mixin modalContent()
			.c-modal__body

				p.c-modal__title Thank you very much! 

				p.c-modal__subtitle As an early adopter, your input will help us in our product innovation.
				p.c-modal__subtitle Participate in our short survey and get a chance to win up to $1,000 in Cherry Credits.

				a.c-modal__btn(href="details.html")
					span Onwards

		+modal('congratModal', 'modalContent')
