// SECTION :: START

.details {
	overflow: hidden;
	padding-top: 152px;
	padding-bottom: 50px;
	@include adaptive(1535) {
		padding-top: 100px;
	}
	@include adaptive(1279) {
		padding-top: 75px;
	}
	@include adaptive(767) {
		padding-top: 100px;
		padding-bottom: 50px;
	}

	&__title {
		padding-bottom: 100px;
		@include adaptive(1535) {
			padding-bottom: 50px;
		}
		@include adaptive(1279) {
			padding-bottom: 75px;
		}
		@include adaptive(767) {
			padding-bottom: 25px;
		}
	}

	&__wrapper {
		display: flex;
		@include adaptive(1535) {
			align-items: center;
		}
		@include adaptive(1023) {
			flex-direction: column;
			justify-content: center;
		}

		&-left,
		&-right {
			width: 50%;
		}

		&-left {
			padding-right: 70px;
			@include adaptive(1799) {
				padding-right: 0;
			}
			@include adaptive(1439) {
				width: 60%;
			}
			@include adaptive(1023) {
				width: 100%;
				padding: 0 30px 50px;
			}
			@include adaptive(767) {
				display: none;
			}
		}

		&-right {
			padding-top: 10px;
			padding-left: 68px;
			padding-right: 15px;
			@include adaptive(1439) {
				width: 40%;
				padding-left: 40px;
			}
			@include adaptive(1023) {
				width: 100%;
				padding-left: 30px;
				padding-right: 30px;
			}
			@include adaptive(767) {
				padding-left: 0;
			}
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		padding-top: 10px;
		padding-left: 23px;
		padding-bottom: 10px;
		border-left: 2px solid #b6b2b2;
		@include adaptive(767) {
			border: none;
		}

		&-item {
			display: flex;
			flex-direction: column;

			&:not(:last-of-type) {
				padding-bottom: 17px;
			}
		}

		&-title {
			padding-bottom: 5px;
			font-size: 32px;
			font-weight: bold;
			color: #01084c;
			@include adaptive(1535) {
				font-size: 29px;
			}
			@include adaptive(1439) {
				font-size: 27px;
			}
			@include adaptive(1279) {
				font-size: 22px;
			}
		}

		&-desc {
			line-height: 1.8;
			font-size: 24px;
			color: #01084c;
			@include adaptive(1535) {
				font-size: 22px;
			}
			@include adaptive(1439) {
				font-size: 20px;
			}
			@include adaptive(1279) {
				font-size: 18px;
			}
		}
	}

	&__animation {
		position: relative;
		height: 100%;
		width: 100%;

		&-bg {
			position: relative;
			display: block;
			//top: 0;
			//left: 0;
			max-width: 100%;
			height: auto;
			max-height: 100%;
			box-shadow: 0 -20px 40px 5px rgba(#000, 0.1);
			background-image: url('../img/img-details-bg@2x.png');
			background-repeat: no-repeat;
			background-position: right top;
			background-size: contain;
		}
	}

	&__popup {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 300px;
		height: 320px;
		padding: 0 15px;
		border-radius: 10px;
		border: 2px solid #ede8e8;
		background-color: #ffffff;
		box-shadow: 0 0 15px 0 rgba(#000, 0.01);
		backface-visibility: hidden;
		perspective: 300px;
		transform-origin: center;

		&-1 {
			opacity: 0;

			.details__popup {
				&-body {
					padding-left: 35px;
					padding-right: 35px;
				}
			}
		}
		&-2 {
			opacity: 0;
		}

		&-wrapper {
			//position: absolute;
			//width: 100%;
			//max-width: 300px;
			//height: 561px;
			//margin-left: auto;
		}

		&-head {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-top: 10px;
			padding-bottom: 10px;

			svg {
				width: 12px;
				height: 12px;
				fill: #000000;
			}
		}

		&-body {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 1;
			min-height: 1px;
			max-height: 100%;
			padding-bottom: 10px;
			text-align: center;

			> div {
				width: 100%;
			}
		}

		&-desc {
			padding-bottom: 5px;
			font-size: 12px;
			font-style: italic;

			& + p {
				padding-bottom: 15px;
			}
		}

		&-title {
			padding-bottom: 30px;
			color: #046428;
			font-size: 14px;
			font-weight: bold;
		}

		&-info {
			padding-top: 30px;
			font-size: 12px;
			font-style: italic;
			color: #7d7e7d;
		}

		&-progress {
			position: relative;
			display: block;
			width: 100%;
			height: 5px;
			margin-left: auto;
			margin-right: auto;
			border-radius: 5px;
			background-color: #88e2f9;
		}

		ul {
			display: flex;
			flex-direction: column;

			li {
				display: flex;
				align-items: center;
				justify-content: space-between;

				&:not(:last-of-type) {
					padding-bottom: 15px;
				}

				> div {
					&:nth-of-type(2) {
						padding-left: 10px;
						padding-right: 10px;
					}
				}
			}

			img {
				display: block;
				max-width: 65px;
				height: auto;
				max-height: 100%;
			}

			p {
				font-size: 12px;
				font-weight: bold;
				line-height: 1;

				&.red {
					color: #ed1f59;
				}
				&.green {
					color: #a7a50b;
				}
				&.orange {
					color: #046428;
				}
			}

			span {
				font-size: 9px;
				font-style: italic;
				line-height: 1;
			}

			a {
				cursor: pointer;
				overflow: hidden;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				max-width: 230px;
				height: 30px;
				padding-left: 10px;
				padding-right: 10px;
				border: none;
				border-radius: 5px;
				background-color: rgb(248, 115, 7);
				box-shadow: 0 3px 0 0 rgba(#000, 0);
				@include transition(box-shadow, transform);

				&:before,
				&:after {
					content: '';
					z-index: 0;
					position: absolute;
					top: 0;
					width: 0;
					height: 100%;
					background-color: darken(rgb(248, 115, 7), 2%);
					@include transition(width);
				}

				&:before {
					left: 50%;
				}
				&:after {
					right: 50%;
				}

				&:hover {
					transform: translateY(-3px);
					box-shadow: 0 3px 0 0 rgba(#000, 0.15);
					@include transition(box-shadow, transform);

					&:before,
					&:after {
						width: 50%;
						@include transition(width);
					}
				}

				span {
					z-index: 2;
					position: relative;
					color: #ffffff;
					font-size: 12px;
					font-style: normal;
					font-weight: 600;
				}
			}
		}
	}
}
[data-aos] {
	visibility: hidden;
}
[data-aos].animated {
	visibility: visible;
}
@keyframes bounceInLeft {
	from,
	60%,
	75%,
	90%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
		opacity: 0;
		transform: translate3d(-3000px, 0, 0) scaleX(3);
	}

	60% {
		opacity: 1;
		transform: translate3d(25px, 0, 0) scaleX(1);
	}

	75% {
		transform: translate3d(-10px, 0, 0) scaleX(0.98);
	}

	90% {
		transform: translate3d(5px, 0, 0) scaleX(0.995);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeOut {
	to {
		opacity: 1;
	}
	form {
		opacity: 0;
	}
}
.animated {
	animation-fill-mode: both;
	animation-duration: 1s;
}
.bounceInLeft {
	animation-name: bounceInLeft;
}
.fadeOut {
	animation-duration: 0.5s;
}

// SECTION :: END
