// FOOTER :: START

.footer {
	padding-top: 200px;
	padding-bottom: 40px;
	background-color: #ffffff;
	@include adaptive(1535) {
		padding-top: 150px;
	}
	@include adaptive(767) {
		padding-top: 100px;
	}

	&__wrapper {
		padding-left: 20px;
		padding-right: 20px;
		@include adaptive(767) {
			padding-left: 15px;
			padding-right: 15px;
		}

		&-1 {
			padding-bottom: 200px;
			@include adaptive(1535) {
				padding-bottom: 150px;
			}
			@include adaptive(767) {
				padding-bottom: 100px;
			}
		}

		&-2 {
			display: flex;
			align-items: center;
			justify-content: center;
			@include adaptive(767) {
				flex-direction: column;
			}

			> div {
				&:nth-of-type(1) {
					padding-right: 30px;
					@include adaptive(767) {
						padding-right: 0;
						padding-bottom: 10px;
					}
				}
				&:nth-of-type(2) {
					padding-left: 30px;
					@include adaptive(767) {
						padding-left: 0;
					}
				}
			}
		}
	}

	&__slider {
		width: 100%;
		max-width: 768px;
		margin-left: auto;
		margin-right: auto;

		.swiper {
			&-wrapper {
				align-items: center;
			}
		}
	}

	&__title {
		width: 100%;
	}

	&__form {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 200px;
		@include adaptive(1535) {
			padding-top: 150px;
		}
		@include adaptive(767) {
			flex-wrap: wrap;
			padding-top: 100px;
		}

		> div {
			&:nth-of-type(1),
			&:nth-of-type(2) {
				width: 50%;
				@include adaptive(767) {
					width: 100%;
				}
			}

			&:nth-of-type(1) {
				padding-right: 15px;
				@include adaptive(767) {
					padding-right: 0;
				}
			}
			&:nth-of-type(2) {
				padding-left: 15px;
				@include adaptive(767) {
					padding-left: 0;

					input {
						border-top-left-radius: 0;
						border-top-right-radius: 0;
					}
				}
			}

			&:nth-of-type(3) {
				display: flex;
				justify-content: center;
				width: 100%;
				padding-top: 30px;
				@include adaptive(767) {
					padding-top: 0;
				}
			}
		}

		input,
		button {
			outline: none;
			position: relative;
		}

		input {
			width: 100%;
			max-width: 522px;
			height: 76px;
			padding: 0 20px;
			margin-right: 10px;
			border-width: 1px;
			border-color: rgb(0, 0, 0);
			border-style: solid;
			border-radius: 5px;
			background-color: rgb(249, 245, 249);
			font-size: 22px;
			font-weight: 500;
			text-align: center;
			@include inputPlaceholder {
				font-size: 22px;
				font-weight: 500;
				text-align: center;
				color: #d3d3d3;
			}
			@include adaptive(1439) {
				height: 66px;
			}
			@include adaptive(767) {
				max-width: 100%;
				height: 56px;
				margin-right: 0;
				border-bottom: none;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		button {
			cursor: pointer;
			overflow: hidden;
			width: 100%;
			max-width: 340px;
			height: 76px;
			margin-left: 18px;
			border: none;
			border-radius: 5px;
			background-color: rgb(248, 115, 7);
			box-shadow: 0 3px 0 0 rgba(#000, 0);
			@include transition(box-shadow, transform);
			@include adaptive(1439) {
				height: 66px;
			}
			@include adaptive(767) {
				max-width: 100%;
				height: 56px;
				margin-left: 0;
				border-top-right-radius: 0;
				border-top-left-radius: 0;
			}

			&:before,
			&:after {
				content: '';
				z-index: 0;
				position: absolute;
				top: 0;
				width: 0;
				height: 100%;
				background-color: darken(rgb(248, 115, 7), 2%);
				@include transition(width);
			}

			&:before {
				left: 50%;
			}
			&:after {
				right: 50%;
			}

			&:hover {
				transform: translateY(-3px);
				box-shadow: 0 3px 0 0 rgba(#000, 0.15);
				@include transition(box-shadow, transform);

				&:before,
				&:after {
					width: 50%;
					@include transition(width);
				}
			}

			span {
				z-index: 2;
				position: relative;
				color: #ffffff;
				font-size: 26px;
				font-weight: 600;
				@include adaptive(1439) {
					font-size: 23px;
				}
			}
		}
	}
}

// FOOTER :: END
