// SECTION :: START

.payments {
	padding-top: 100px;
	padding-bottom: 50px;
	@include adaptive(767) {
		padding-bottom: 100px;
	}

	&__wrapper {
		position: relative;
		padding-left: 20px;
		padding-right: 20px;

		&-1 {
			padding-bottom: 45px;
			@include adaptive(767) {
				padding-bottom: 75px;
			}
		}

		&-2 {
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 660px;
			background-image: linear-gradient( 0deg, rgb(230,244,247) 0%, rgb(208,240,248) 22%, rgb(186,236,249) 51%, rgb(230,244,247) 100%);
			@include adaptive(1535) {
				min-height: 560px;
			}
		}
	}

	&__title {
		z-index: 2;
		position: relative;
		width: 100%;
		max-width: 780px;
		margin-left: auto;
		margin-right: auto;
	}

	&__logo {
		z-index: 0;
		opacity: 0.5;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&-img {
			position: absolute;
			max-width: 125px;
			height: auto;
			transform: scale(0.9);
			@include adaptive(1023) {
				transform: scale(0.8);
			}
			@include adaptive(767) {
				transform: scale(0.75);
			}

			&-1 {
				top: 25px;
				left: 200px;
				@include adaptive(767) {
					left: 15px;
				}
			}
			&-2 {
				top: 85px;
				left: 34%;
				@include adaptive(767) {
					top: 45px;
					left: 44%;
				}
			}
			&-3 {
				top: -15px;
				right: 200px;
				@include adaptive(767) {
					right: 15px;
				}
			}
			&-4 {
				top: 125px;
				right: 38%;
				@include adaptive(767) {
					top: 100px;
					right: auto;
					left: 10%;
				}
			}
			&-5 {
				top: 175px;
				right: 50px;
				@include adaptive(767) {
					top: 100px;
					right: 30px;
				}
			}
			&-6 {
				right: 125px;
				bottom: 50px;
				@include adaptive(767) {
					right: 15px;
					bottom: 30px;
				}
			}
			&-7 {
				right: 32%;
				bottom: 100px;
				@include adaptive(767) {
					right: 15px;
					bottom: 140px;
				}
			}
			&-8 {
				left: 37%;
				bottom: 125px;
				@include adaptive(767) {
					left: auto;
					right: 100px;
					bottom: 100px;
				}
			}
			&-9 {
				left: 15%;
				bottom: -15px;
				@include adaptive(767) {
					left: 30px;
					bottom: -30px;
				}
			}
			&-10 {
				left: 125px;
				bottom: 175px;
			}
			&-11 {
				left: 75px;
				bottom: 60%;
				@include adaptive(767) {
					left: 15px;
					bottom: 100px;
				}
			}
		}
	}
}

// SECTION :: END
