// LOGOTYPE :: START

.logo {
	display: flex;

	&.logo--popup {
		max-width: 50px;
	}

	&__btn {
		display: flex;
		align-items: flex-start;
		max-width: 126px;
		@include adaptive(1279) {
			max-width: 105px;
		}
	}

	&__img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

// LOGOTYPE :: END
