// TITLE :: START

.c-title {
	font-size: 47px;
	font-weight: bold;
	text-align: center;
	color: #01084c;
	@include adaptive(1535) {
		font-size: 42px;
	}
	@include adaptive(1279) {
		font-size: 36px;
	}
}

// TITLE :: END
